#day {
    text-align: center;
    box-sizing: border-box;
    max-width: 200px;
    border-radius: 10%;
    border: 10px solid #4FC1E9;
    box-shadow: 2px 2px 2px #324376, -2px 2px 2px #324376, -2px -2px 2px #324376, 2px -2px 2px #324376;
    margin-top: 5%;
    background: #ddf8e8;
    font-size: 14px;
    font-weight: 900;
    overflow-wrap: break-word

}

.card__caption {
    padding: 5px;
    position: relative;
    border-radius: 0 0 3px 3px;
    width: 100%;
    overflow-wrap: break-word
}

.card__image-container {
    background-color: rgba(0, 0, 0, 0.7);
    text-align: center;
    padding: 1em 1em 0;
    border-radius: 3px 3px 0 0;
    overflow-wrap: break-word
}

.card__image-container2 {
    background-color: rgba(0, 0, 0, 0.7);
    text-align: center;
    border-radius: 3px 3px 0 0;
    width: 170px;
}

.card__type0 {
    position: absolute;
    top: -35px;
    right: 10px;
    color: #fff;
    text-transform: uppercase;
    padding: 2px 5px;
    background: #bbb;
    font-size: 16px;
    border-radius: 5px;
    z-index: 4;
    box-shadow: 2px 2px 2px #324376, -2px 2px 2px #324376, -2px -2px 2px #324376, 2px -2px 2px #324376;
}

.card__type1 {
    position: absolute;
    top: -33px;
    right: 5px;
    color: #fff;
    text-transform: uppercase;
    padding: 2px 5px;
    background: #bbb;
    font-size: 16px;
    border-radius: 5px;
    z-index: 3;
    box-shadow: 2px 2px 2px #324376, -2px 2px 2px #324376, -2px -2px 2px #324376, 2px -2px 2px #324376;
}

.card__type2 {
    position: absolute;
    top: -30px;
    right: 3px;
    color: #fff;
    text-transform: uppercase;
    padding: 2px 5px;
    background: #bbb;
    font-size: 16px;
    border-radius: 5px;
    z-index: 1;
    box-shadow: 2px 2px 2px #324376, -2px 2px 2px #324376, -2px -2px 2px #324376, 2px -2px 2px #324376;
}

.card__type20 {
    color: #fff;
    padding: 2px 5px;
    background: #bbb;
    font-size: 12px;
    border-radius: 5px;
}

.card__label {
    font-size: 10px;
    text-transform: uppercase;
    font-weight: 400;
    display: block;
    margin-bottom: 3px;
}

.card__name {
    /*font-family: "Open Sans Condensed", "Open Sans", helvetica, sans-serif;*/
    text-align: center;
    font-size: 1em;
    font-weight: 700;
    letter-spacing: 0.01em;
    text-transform: uppercase;
}

.card__stats {
    margin: 5px;
    width: auto;
}

.card__stats div {
    font-weight: 300;
}

.card__abilities {
    display: flex;
    justify-content: space-between;
}

.card__ability {
    margin-top: 1em;
    flex: 1 0;
}

.card--normal {
    background: #fdbb2d;
    box-shadow: 0px 5px 20px -10px rgba(110, 79, 166, 0.96);
}

.card--normal .card__type {
    background-color: #c08a53;
}

.card--water {
    background: #1cb5e0;
    box-shadow: 0px 5px 20px -10px #353f98;
}

.card--water .card__type {
    background-color: #1cb5e0;
}

.card--electric {
    background: rgba(255, 222, 0, 1) 34%;
}

.card--electric .card__type {
    background-color: #b74747;
}

.card--fire {
    background: rgba(199, 24, 0, 1);
}

.card--fire .card__type {
    background-color: rgba(199, 24, 0, 1);
}

.card--psychic {
    background: rgba(255, 167, 249, 1);
}

.card--psychic .card__type {
    background: #ff2cc3;
}

.card--dark {
    background: #726363;
}

.card--dark .card__type {
    background: #b65ba3;
}

.card--grass {
    background: rgba(196, 218, 61, 1) 0%;
}

.card--grass .card__type {
    background: #6e7f0e;
}

.card--ice {
    background: rgba(160, 234, 241, 1) 46%;
}

.card--ice .card__type {
    background: #6fb8eb;
}

.card--fairy {
    background: rgba(255, 230, 240, 1) 0%;
}

.card--fairy .card__type {
    background: #ff8a95;
}

/*//////////////*/

.anim04c {
    transition: all .4s cubic-bezier(.5, .35, .15, 1.4);
}

.outer {
    /*position: relative;*/
    width: 100%;
    height: 100%;
}

.inner {
    position: relative;
    width: 100%;
    height: 100%;
}

.signboard {
    width: 100%;
    height: 100%;
}

.front0 {
    position: absolute;
    top: 0;
    left: 0;
}

.front1 {
    position: absolute;
    right: 0;
    transform: translateY(4px);
}

.front2 {
    position: absolute;
    left: 0;
    transform: translateY(12px);
}

.front3 {
    position: absolute;
    left: 0;
    transform: translateY(20px);
}

.front3 {
    position: absolute;
    left: 0;
    transform: translateY(28px);
}

.front3 {
    position: absolute;
    left: 0;
    transform: translateY(36px);
}


